<footer class="site-footer h-card">
  <div class="wrapper">
      <div class="footer-col footer-col-2 text-center">
        &copy; 2020
      </div>
    </div>
  </div>
</footer>

{%- if site.google_analytics -%}
  {%- include google-analytics.html -%}
{%- endif -%}