<header class="site-header" role="banner">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    <div class="logo_wrapper">
	    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
	    	<img src="{{ "/" | relative_url }}img/logo.png" alt="{{ site.title | escape }}" height="55">
	    </a>
	</div>
  </div>
</header>
