---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.post-list,
.post-content {
    img {
        border: 1px solid #333;
        padding: 20px;
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 3px;
    }

    .recipe_block {
        font-size: 15px;
        border: 1px solid #e8e8e8;
        border-radius: 3px;
        background-color: #eef;
        padding: 20px;
        margin: 15px 0;
        width: 100%;
    }
}