---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="post-meta">
          {%- if post.author -%}
            <div class="author_avatar" style="background: url({{ "/" | relative_url }}img/avatars/{{ post.author }}.jpg) scroll no-repeat center center;">
              <img src="{{ "/" | relative_url }}img/avatars/{{ post.author }}.jpg" alt="{{ post.author }}'s avatar">
            </div>
            <div class="author_name"> {{ post.author }}</div>
          {%- endif -%}

          <div class="post_date">
            {{ post.date | date: date_format }}
          </div>
        </div>

        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}

        <div class="categories">
          {%- for cat in post.categories -%}
            <span class="category"><i class="zmdi zmdi-label"></i> {{ cat }}</span>
          {%- endfor -%}
        </div>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>