---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <div class="post-meta">
      {%- if page.author -%}
        <div class="author_avatar" style="background: url({{ "/" | relative_url }}img/avatars/{{ page.author }}.jpg) scroll no-repeat center center;">
          <img src="{{ "/" | relative_url }}img/avatars/{{ page.author }}.jpg" alt="{{ page.author }}'s avatar">
        </div>
        <div class="author_name"> {{ page.author }}</div>
      {%- endif -%}

      <div class="post_date">
        {{ page.date | date: date_format }}
      </div>
    </div>

    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="categories">
    {%- for cat in page.categories -%}
      <span class="category"><i class="zmdi zmdi-label"></i> {{ cat }}</span>
    {%- endfor -%}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
