body {
	background: #fff url('../img/bg2.jpg') scroll no-repeat top center;
}

.post-list > li {
    margin-bottom: 60px;
}

.logo_wrapper {
	text-align: center;
	margin: 70px 0;
}

.site-header {
    border-top: 5px solid #3966b0;
    border-bottom: 1px solid #fff;
    min-height: 55.95px;
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    float: none;
    margin: 20px 0;
}

.post-meta {
	overflow: hidden;
	clear: both;
	color: #555;
	margin-bottom: 10px;

	.author_avatar,
	.author_name,
	.post_date {
		float: left;
	}

	.author_avatar {
		margin-right: 5px;
	}

	.author_name {
		margin-right: 10px;
		padding-right: 10px;
		border: 1px #ccc solid;
		border-width: 0 1px 0 0;
	}

	.author_avatar {
		border-radius: 100px;
		width: 20px;
		height: 20px;
		background-size: cover !important;
		text-indent: -32000px;
		overflow: hidden;
		display: inline-block;

		img {
			display: none;
		}
	}

	.author_name {
		display: inline-block;
	}
}

.post-link {
	color: #000;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.categories {
	color: #999;
	font-size: 13px;

	.category {
		margin-right: 15px;
	}
}